/* font */
@font-face {
    font-family: 'kakaoSmall';
    font-weight: 300;
    src: url('/font/KakaoSmall-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'kakaoSmall';
    font-weight: 400;
    src: url('/font/KakaoSmall-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'kakaoSmall';
    font-weight: 700;
    src: url('/font/KakaoSmall_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'kakaoBig';
    font-weight: 400;
    src: url('/font/KakaoBig-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'kakaoBig';
    font-weight: 700;
    src: url('/font/KakaoBig-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'kakaoBig';
    font-weight: 800;
    src: url('/font/KakaoBig_ExtraBold.ttf') format('truetype');
}

/* 기본 구조 */
body {
    font-family: 'kakaoBig';
    word-break: keep-all;
    word-wrap: break-word;
}

h1 {
    font-size: 52px;
}
h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 52px;
}
h2::before {
    content: '';
    display: block;
    width: 78px;
    height: 78px;
}

.btn-group {
    font-size: 0;
}

strong {
    font-weight: 700;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* header 영역 만큼 padding 값 부여 */
main section:first-child {
    padding-top: 92px;
    transition: all 0.4s;
}

/* section 중 가로 100% */
main section[class*='fullW'] {
    max-width: unset;
    padding: unset;
}

/* 아래 스페셜은 슬라이드에 마저 사용하고 제거 */
.special {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 카드형 공통 */
div[class^='card-frame'] > .item {
    background: #f3f3f3;
}
div[class^='card-frame'] > .item.sub-frame {
    background: #fff;
}
div[class*='card-mix'] > div:not(:first-child) {
    margin-top: 16px;
}

/* 카드형 2열 */
.card-frame2 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}
.card-frame2 .item {
    position: relative;
    width: calc((100% - 16px) / 2);
    border-radius: 20px;
    overflow: hidden;
}

/* 카드형 3열 */
.card-frame3 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}
.card-frame3 .item {
    position: relative;
    width: calc((100% - 32px) / 3);
    border-radius: 20px;
    overflow: hidden;
}

/* 카드형 상하 구조 */
.card-half .item {
    border-radius: 36px;
    overflow: hidden;
}
.card-half .item .half-brief {
    padding: 40px 40px 0;
}
.card-half .item .half-brief .brief-img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 12px;
    vertical-align: top;
}
.card-half .item .half-brief .brief-title {
    display: inline-block;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    line-height: 46px;
}
.card-half .item .half-brief .brief-date {
    margin-left: 12px;
    font-size: 14px;
    color: #333333;
}
.card-half .item .half-info {
    margin-top: 20px;
}
.card-half .item .half-info .info-title {
    height: 210px;
    padding: 0 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.6px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    box-sizing: border-box;
}
.card-half .item .half-info .info-tags {
    padding: 21px 40px;
    font-size: 0;
    box-sizing: border-box;
}
.card-half .item .half-info .info-tags span {
    font-size: 16px;
    color: var(--secondary-color);
}
.card-half .item .half-info .info-tags span ~ span {
    margin-left: 8px;
}
.card-half .item .half-info .info-view {
    width: 100%;
    aspect-ratio: 16/9;
}
.card-half .item .sns-group {
    position: absolute;
    top: 51px;
    right: 30px;
}
.card-half .item .sns-group svg {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

/* 카드형 내부 카드형 */
.sub-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.sub-frame .sub-item {
    height: calc((100% - 16px) / 3);
    border-radius: 20px;
    background: #f3f3f3;
}

/* 카드형 타이틀 + 바로가기 기본디자인 */
.card-basic {
    height: inherit;
}
.card-basic .item .basic-flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 36px 40px;
    box-sizing: border-box;
}
.card-basic .item .basic-flex .title {
    font-size: 26px;
}
.card-basic .item .basic-flex .link {
    height: 24px;
}
.card-basic .item .basic-flex .link span {
    font-size: 17px;
}
.card-basic .item .basic-flex .link svg {
    margin: 0 0 -6px 8px;
}

/* 바로가기 링크 */
.link-through {
    text-align: center;
}
.link-through a {
    display: inline-block;
    height: 76px;
    width: 316px;
    border-radius: 38px;
    background: #f3f3f3;
    font-size: 0px;
    line-height: 76px;
}
.link-through a span {
    font-size: 22px;
}
.link-through a svg {
    margin: 0 0 -5px 12px;
}

/* 기본 색상 */
:root {
    --primary-color: #000000;
    --secondary-color: #666666;
    --white-color: #ffffff;
}
.col000 {
    color: #000;
}
.colfff {
    color: #fff;
}

/* skip-navi */
.skip-navi a {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    border: 2px solid var(--primary-color);
    text-align: center;
    box-sizing: border-box;
}
.skip-navi a:focus {
    top: 0px;
}

/* header */
header {
    display: none;
    position: fixed;
    width: 100%;
    border-bottom: none;
    padding: 0 20px;
    background: #fff;
    letter-spacing: -0.5px;
    z-index: 1000;
}
header.active {
    display: block;
}
header.border {
    border-bottom: 1px solid #eee;
}
header .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1712px;
    height: 92px;
    margin: 0 auto;
}
header .home a {
    width: 74px;
}
/* gnb */
header .gnb .depth01 {
    display: flex;
    gap: 60px;
    align-items: center;
}
header .gnb .depth01 li {
    position: relative;
}
header .gnb .depth01 > li > a {
    height: 92px;
    line-height: 92px;
    font-size: 17px;
}
header .gnb .depth01:hover > li > a {
    color: #888;
}
header .gnb .depth01 > li:hover > a {
    color: #000;
}
header .gnb .depth01 li .depth02 {
    display: none;
    padding: 11px 24px 13px;
    background: #000000;
    border-radius: 24px;
}
header .gnb .depth01 li:nth-of-type(1) .depth02 {
    width: 220px;
}
header .gnb .depth01 li:nth-of-type(2) .depth02 {
    width: 530px;
}
header .gnb .depth01 li:nth-of-type(3) .depth02 {
    width: 108px;
}
header .gnb .depth01 li:nth-of-type(4) .depth02 {
    width: 489px;
}
header .gnb .depth01 li:nth-of-type(5) .depth02 {
    width: 157px;
}
header .gnb .depth01 li .depth02.active {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
header .gnb .depth01 li .depth02 li a {
    font-size: 17px;
    line-height: 24px;
    color: #eee;
}
header .gnb .depth01 li .depth02 li a:hover {
    font-weight: 700;
}
/* util */
header .util button {
    width: 36px;
    height: 36px;
    color: #333;
}
header .util button:hover {
    background: #eee;
    border-radius: 50%;
}
header .util button:not(:first-of-type) {
    margin-left: 10px;
}
header .util button svg {
    width: 24px;
    height: 24px;
    stroke: var(--primary-color);
    vertical-align: middle;
}

/* footer */
footer {
    border-top: 1px solid var(--primary-color);
}
footer .footer-wrap {
    max-width: 1712px;
    margin: 0 auto;
    padding: 81px 0 48px;
}
footer .sitemap {
    display: flex;
    justify-content: space-between;
}
footer .sitemap div {
    width: calc(100% / 5);
    padding-top: 55px;
}
footer .sitemap div .title {
    display: block;
    font-weight: 700;
    line-height: 1.75;
}
footer .sitemap div ul {
    margin-top: 40px;
}
footer .sitemap div span + ul {
    margin-top: 12px;
}
footer .sitemap div ul li ~ li {
    margin-top: 8px;
}
footer .sitemap div ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.78;
    color: #888888;
}
footer .sitemap div ul li a:hover {
    color: var(--primary-color);
}
footer .sitemap div ul li a svg {
    width: 9px;
    height: 9px;
    stroke: #999;
    margin-left: 4px;
}
footer .sitemap div ul li a:hover svg {
    stroke: var(--primary-color);
}
footer .sitemap .today-kakao {
    padding-top: 0;
}
footer .sitemap .today-kakao h2 {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
}
footer .sitemap .today-kakao h2::before {
    display: none;
}
footer .sitemap .today-kakao ul {
    margin-top: 20px;
}
footer .sitemap .today-kakao ul li a {
    color: var(--primary-color);
}

footer .extra {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
footer .extra .conditions {
    display: flex;
}
footer .extra .conditions div ~ div {
    margin-left: 24px;
}
footer .extra .conditions > div {
    display: flex;
    align-items: center;
    position: relative;
}
footer .extra .conditions div .title {
    font-size: 12px;
    color: #888888;
}
footer .extra .conditions div .title:hover {
    color: #111;
}
footer .extra .conditions div .title strong {
    color: #333333;
}
footer .extra .conditions div .title .arrow-down {
    width: 9px;
    height: 9px;
}
footer .extra .conditions div .title:hover .arrow-down {
    transform: rotate(180deg);
}
footer .extra .conditions div .title.on .arrow-down {
    transform: rotate(180deg);
}
footer .extra .conditions div .title .arrow-down .stroke {
    stroke: #999;
}
footer .extra .conditions div .title:hover .arrow-down .stroke {
    stroke: #111;
}
footer .extra .conditions div .link-icon {
    position: absolute;
    display: none;
    left: 0;
    bottom: 30px;
    padding: 16px 20px;
    border-radius: 12px;
    background: #eeeeee;
}
footer .extra .conditions div .link-icon.active {
    display: block;
}
footer .extra .conditions div .link-icon ul li ~ li {
    margin-top: 12px;
}
footer .extra .conditions div .link-icon ul li a {
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary-color);
    white-space: nowrap;
}
footer .extra .conditions div .link-icon ul li a:hover {
    color: var(--primary-color);
}
footer .extra .conditions div .link-icon ul li a svg {
    width: 9px;
    height: 9px;
    stroke: #999;
    margin-left: 4px;
}
footer .extra .conditions div .link-icon ul li a:hover svg {
    stroke: var(--primary-color);
}
footer .extra .relation {
    position: relative;
}
footer .extra .relation .relation-site {
    display: flex;
    justify-content: space-between;
    width: 258px;
    padding: 10px 20px 12px;
    border-radius: 24px;
    font-size: 12px;
    line-height: 18px;
    background: #eee;
    box-sizing: border-box;
}
footer .extra .relation .relation-site svg {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    fill: #666;
}
footer .extra .relation .relation-site[data-relation='close'] svg {
    transform: rotate(0deg);
}
footer .extra .relation .relation-site[data-relation='open'] svg {
    transform: rotate(45deg);
}
footer .extra .relation .link-icon {
    display: none;
    position: absolute;
    left: 0;
    bottom: 52px;
    width: 100%;
    padding: 16px 20px;
    border-radius: 12px;
    background: #eee;
    box-sizing: border-box;
}
footer .extra .relation .link-icon.active {
    display: block;
}
footer .extra .relation .link-icon ul li ~ li {
    margin-top: 12px;
}
footer .extra .relation .link-icon ul li a {
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
}
footer .extra .relation .link-icon ul li a:hover {
    color: var(--primary-color);
}
footer .extra .relation .link-icon ul li a svg {
    width: 9px;
    height: 9px;
    stroke: #999;
    margin-left: 4px;
}
footer .extra .relation .link-icon ul li a:hover svg {
    stroke: var(--primary-color);
}

footer small {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    line-height: 1.5;
    color: #888888;
}
footer small a {
    display: inline-block;
    margin-left: 3px;
}

/* search 버튼 클릭 검색영역 */
.search-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.search-container::before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    opacity: 0;
    transition: all 0.6s;
    z-index: 10;
}
.search-container.active::before {
    display: block;
    opacity: 0.9;
}
.search-container .container-wrap {
    position: relative;
    /* top: -452px; */
    margin: 0 auto;
    padding: 0 208px;
    background: var(--white-color);
    transition: all 0.6s ease-out;
    z-index: 100;
}
.search-container .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.search-container .search-header a svg {
    width: 74px;
    height: 25px;
}
.search-container .search-header button svg {
    width: 28px;
    height: 28px;
    stroke: #000;
}
.search-container .search-content form svg .stroke {
    stroke: #000;
}
.search-container .search-content {
    padding: 120px 0;
    background: url(/images/search_background.png) no-repeat right 85px/162px 178px;
}
.search-container .search-content form {
    position: relative;
    opacity: 0;
    transition: all 1s;
}
.search-container.active .search-content form {
    position: relative;
    opacity: 1;
}
.search-container .search-content form svg {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-55%);
    width: 28px;
    height: 28px;
}
.search-container .search-content form svg .stroke {
    stroke: #fff;
}
.search-container .search-content form input {
    width: 823px;
    height: 72px;
    margin-left: 275px;
    padding: 20px 24px 20px 64px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='823' height='72'%3E%3Cg transform='rotate(180 411.5 36)' fill='%23333' fill-rule='evenodd'%3E%3Cpath d='M0 0c4.004 2.904 6.617 7.607 6.615 12.931V24H24C24 10.745 13.255 0 0 0'/%3E%3Crect width='816' height='72' x='6.5' rx='27'/%3E%3C/g%3E%3C/svg%3E")
        no-repeat;
}
.search-container .search-content form input::placeholder {
    color: #fff;
}
.search-container .search-content .search-tags {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.search-container .search-content .search-tags li a {
    padding: 9px 15px;
    border-radius: 34px;
    font-size: 13px;
    background: #eeeeee;
}
.search-container .search-content .search-tags li a:hover {
    background: #dfdfdf;
}
