/* 공통 */
.main {
    padding-bottom: 123px;
}
.main section {
    max-width: 1712px;
    margin: 0 auto;
    padding: 0 20px;
}
.main section:not(:first-child) {
    margin-top: 120px;
}
.main section h2 + div {
    margin-top: 43px;
}
.main section h2 + div ~ div {
    margin-top: 60px;
}

/* 카톡으로 돌아보는 2023 */
.main-visual {
    display: grid;
    grid-template-columns: 6fr 272px;
    gap: 16px;
}
.main-visual .video {
    position: relative;
    grid-row: 1 / 4;
}
.main-visual .video video {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    object-fit: cover;
}
.main-visual .video h1 {
    position: absolute;
    top: 80px;
    left: 90px;
    line-height: 1.25;
    color: var(--white-color);
}
.main-visual .video .video-top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 17px 15px;
    border-radius: 0 0 0 36px;
    background: var(--white-color);
}
.main-visual .video .video-top::before,
.main-visual .video .video-top::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0c19.882 0 36 16.118 36 36V0H0z' fill='%23fff'/%3E%3C/svg%3E");
}
.main-visual .video .video-top::before {
    top: 0;
    left: -36px;
}
.main-visual .video .video-top::after {
    right: 0;
    bottom: -36px;
}
.main-visual .video .video-top a {
    position: relative;
    width: 82px;
    height: 82px;
}
.main-visual .video .video-top a:hover .top-info {
    display: block;
}
.main-visual .video .video-top a .top-info {
    display: none;
    position: absolute;
    top: -50px;
    left: -20px;
    padding: 12px 20px;
    border-radius: 12px;
    background: var(--primary-color);
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
    white-space: nowrap;
}
.main-visual .video .video-top a .top-info::before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -7px;
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 12a7.967 7.967 0 01-3.307-6.466V0H0c0 6.627 5.373 12 12 12z' fill='%23000'/%3E%3C/svg%3E");
}
.main-visual .video .video-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 23px 23px 28px;
    border-radius: 0 36px 0 0;
    background: var(--white-color);
}
.main-visual .video .video-bottom::before,
.main-visual .video .video-bottom::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36 36C16.118 36 0 19.882 0 0v36h36z' fill='%23fff'/%3E%3C/svg%3E");
}
.main-visual .video .video-bottom::before {
    left: 0px;
    top: -36px;
}
.main-visual .video .video-bottom::after {
    right: -36px;
    bottom: 0px;
}
.main-visual .video .video-bottom a {
    display: flex;
    align-items: center;
    gap: 16px;
}
.main-visual .video .video-bottom a .bottom-info {
    font-size: 22px;
}
.main-visual .video .video-bottom a svg:hover circle {
    fill: #333333;
}

.main-visual .kakaoimpact {
    height: 272px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide {
    border-radius: 24px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 272px;
    text-align: center;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide:nth-child(1) {
    background: #fae100;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide:nth-child(1) .count-title {
    font-size: 17px;
    line-height: 1.58;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide:nth-child(1) .count-number {
    display: block;
    font-size: 16px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide:nth-child(1) .count-number strong {
    font-size: 26px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-slide:nth-child(2) img {
    border-radius: 24px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-pagination {
    bottom: 20px;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 8px;
    background: #fff;
    opacity: 0.5;
}
.main-visual .kakaoimpact .kakaoimpact-swiper .swiper-pagination span.swiper-pagination-bullet-active {
    background: #fff;
    opacity: var(--white-color, 1);
}

.main-visual .report {
    height: 340px;
}
.main-visual .report .report-swiper .swiper-slide {
    border-radius: 24px;
    background: #f3f3f3;
}
.main-visual .report .report-swiper .swiper-slide a {
    display: block;
    height: 340px;
    padding: 20px;
    box-sizing: border-box;
}
.main-visual .report .report-swiper .swiper-slide .report-info {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: -0.2px;
}
.main-visual .report .report-swiper .swiper-slide:nth-child(1) .report-info {
    background: var(--primary-color);
    color: var(--white-color);
}
.main-visual .report .report-swiper .swiper-slide:nth-child(2) .report-info {
    background: #fae100;
    color: var(--primary-color);
}
.main-visual .report .report-swiper .swiper-slide .report-title {
    display: block;
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.4;
}
.main-visual .report .report-swiper .swiper-slide .report-tags {
    margin-top: 8px;
    font-size: 0;
}
.main-visual .report .report-swiper .swiper-slide .report-tags span {
    font-size: 14px;
    line-height: 1.42;
    color: var(--secondary-color);
    letter-spacing: -0.2px;
}
.main-visual .report .report-swiper .swiper-slide .report-tags span ~ span {
    margin-left: 8px;
}
.main-visual .report .report-swiper .swiper-pagination {
    bottom: 20px;
}
.main-visual .report .report-swiper .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 8px;
    background: #333;
    opacity: 0.5;
}
.main-visual .report .report-swiper .swiper-pagination span.swiper-pagination-bullet-active {
    background: #333;
    opacity: var(--white-color, 1);
}

.main-visual .community {
    width: 285px;
    height: 164px;
}
.main-visual .community .community-swiper .swiper-slide {
    border-radius: 24px 24px 0 24px;
    background: #fae100;
    box-sizing: border-box;
}
.main-visual .community .community-swiper .swiper-slide a {
    display: block;
    height: 164px;
    box-sizing: border-box;
}
.main-visual .community .community-swiper .swiper-slide a video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px 24px 0 24px;
}
.main-visual .community .community-swiper .swiper-slide a::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 39px;
    height: 168px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 168'%3E%3Cpath d='M0 0v2c13.3 0 24 10.7 24 24v109.2c0 10.2 5 19.2 12.7 24.8-6.2 0-12.2-1.2-17.6-3.5C14.7 162.3 7.8 166 0 166v2h39V0H0z' fill='%23fff' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
    z-index: 2;
}
.main-visual .community .community-swiper .swiper-slide a .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: var(--white-color);
    z-index: 1;
}
.main-visual .community .community-swiper .swiper-slide a span:only-child {
    padding: 90px 80px 0;
    box-sizing: border-box;
    color: var(--primary-color);
}
.main-visual .community .community-swiper .swiper-slide a .commu {
    background: url(/images/main/main_community01.webp) no-repeat center top;
}
.main-visual .community .community-swiper .swiper-slide a .histo {
    background: url(/images/main/main_community02.webp) no-repeat center top;
}
.main-visual .community .community-swiper .swiper-button-next,
.main-visual .community .community-swiper .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    --swiper-navigation-size: 0px;
}
.main-visual .community .community-swiper .swiper-button-next {
    right: 22px;
    background: url(/images/icon_swiper_arrow_right.svg) no-repeat center center/cover;
}
.main-visual .community .community-swiper .swiper-button-next::after {
    display: none;
}
.main-visual .community .community-swiper .swiper-button-prev {
    background: url(/images/icon_swiper_arrow_left.svg) no-repeat center center/cover;
}
.main-visual .community .community-swiper .swiper-button-prev::after {
    display: none;
}

/* 카카오와 공동체가 축적해 온 이야기들 */
.main-story h2 {
    max-width: 1712px;
    margin: 0 auto;
}
.main-story h2::before {
    background: url(/images/main/icon_main_story.gif) no-repeat center center/cover;
}
.main-story .slide ul {
    display: flex;
    overflow: hidden;
}
.main-story .slide ul li {
    margin-left: 16px;
    flex-shrink: 0;
}
.main-story .slide .card-half {
    width: 412px;
}
.main-story .slide .card-half .item {
    position: relative;
    border-radius: 24px;
    background: #f3f3f3;
}
.main-story .slide .card-half .item .half-brief .brief-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.main-story .slide .card-half .item .half-brief .brief-title {
    line-height: 31px;
    padding: 0 12px;
}
.main-story .slide .card-half .item .half-info {
    margin-top: 12px;
}
.main-story .slide .card-half .item .half-info .info-title {
    height: 130px;
    line-height: 1.38;
    -webkit-line-clamp: 3;
}
.main-story .slide .card-half .item .half-info .info-title strong {
    font-size: 26px;
}
.main-story .slide .card-half .item .half-info .info-tags {
    padding: 41px 40px 33px;
    font-size: 0;
    box-sizing: border-box;
}
.main-story .slide .card-half .item .sns-group {
    top: 45px;
    right: 30px;
}
.main-story .slide .half-updown .item .sns-group {
    top: 275px;
}
.main-story .slide .half-leftright {
    width: 953px;
}
.main-story .slide .half-leftright .item .half-info {
    margin-top: 0;
}
.main-story .slide .half-leftright .item .half-info .info-title {
    height: 150px;
    margin-top: 12px;
}
.main-story .slide .half-leftright .item .half-info .info-tags {
    padding: 255px 40px 33px;
}
.main-story .slide .half-leftright .item .leftright-link {
    display: flex;
    justify-content: space-between;
}
.main-story .slide .half-leftright .item .leftright-link .info-title p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62;
    color: #666;
}

/* 더 나은 세상을 만드는 카카오 서비스 */
.main-service h2::before {
    background: url(/images/main/icon_main_service.gif) no-repeat center center/cover;
}
.main-service .card-frame2 .item {
    height: 180px;
    padding: 62px;
    box-sizing: border-box;
}
.main-service .card-frame2 .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-service .card-frame2 .contents strong {
    font-size: 30px;
}
.main-service .card-frame2 .contents .link-group {
    font-size: 0;
}
.main-service .card-frame2 .contents .link-group a {
    display: inline-block;
    width: 56px;
    height: 56px;
}
.main-service .card-frame2 .contents .link-group a ~ a {
    margin-left: 12px;
}
.main-service .card-frame2 .contents .link-group .kakaotalk {
    background: url(/images/main/icon_service_kakaotalk.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .daum {
    background: url(/images/main/icon_service_daum.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .story {
    background: url(/images/main/icon_service_story.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .channel {
    background: url(/images/main/icon_service_channel.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .cloud {
    background: url(/images/main/icon_service_cloud.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .agit {
    background: url(/images/main/icon_service_agit.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .map {
    background: url(/images/main/icon_service_map.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .taxi {
    background: url(/images/main/icon_service_texi.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .bank {
    background: url(/images/main/icon_service_kakaotalk.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .gift {
    background: url(/images/main/icon_service_gift.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .shopping {
    background: url(/images/main/icon_service_shopping.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .zigzag {
    background: url(/images/main/icon_service_zigzag.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .page {
    background: url(/images/main/icon_service_page.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .piccoma {
    background: url(/images/main/icon_service_piccoma.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .melon {
    background: url(/images/main/icon_service_melon.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .together {
    background: url(/images/main/icon_service_together.png) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .go {
    background: url(/images/main/icon_service_go.svg) no-repeat center center/cover;
}
.main-service .card-frame2 .contents .link-group .go:hover {
    background: url(/images/main/icon_service_go_hover.svg) no-repeat center center/cover;
}

/* 오늘의 뉴스 */
.main-todaynews h2::before {
    background: url(/images/main/icon_main_todaynews.gif) no-repeat center center/cover;
}
.main-todaynews .card-mix .todaynews .item {
    height: 198px;
    border-radius: 20px;
    box-sizing: border-box;
}
.main-todaynews .card-mix .todaynews .item .half-brief {
    height: 38px;
    padding: 36px 40px 0;
}
.main-todaynews .card-mix .todaynews .item .half-brief .brief-img {
    width: 38px;
    height: 38px;
}
.main-todaynews .card-mix .todaynews .item .half-brief .brief-title {
    padding: 0px 12px;
    line-height: 33px;
    margin-top: 2.5px;
}
.main-todaynews .card-mix .todaynews .item .half-info .info-title {
    height: 76px;
    font-size: 26px;
}
.main-todaynews .card-mix .todaynews .item .half-info {
    margin-top: 12px;
}
.main-todaynews .card-mix .todaynews .item .half-info .info-title strong {
    font-weight: 400;
}
.main-todaynews .card-mix .todaynews .item .sns-group {
    top: 43px;
}
.main-todaynews .card-mix .card-basic {
    height: 110px;
}

/* 약속과 책임 */
.main-promise h2::before {
    background: url(/images/main/icon_main_promise.gif) no-repeat center center/cover;
}
.main-promise .card-frame3 .item .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 292px;
    height: 78px;
    padding: 0 0 16px 16px;
    border-radius: 0 0 0 36px;
    background: #fff;
    box-sizing: border-box;
}
.main-promise .card-frame3 .item .title::before,
.main-promise .card-frame3 .item .title::after,
.main-promise .card-frame3 .item .link::before,
.main-promise .card-frame3 .item .link::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
}
.main-promise .card-frame3 .item .title::before {
    top: -2px;
    left: -24px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M0 2c13.3 0 24 10.7 24 24h2V0H0v2z' fill='%23fff' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.main-promise .card-frame3 .item .title::after {
    right: -2px;
    bottom: -24px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M0 2c13.3 0 24 10.7 24 24h2V0H0v2z' fill='%23fff' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.main-promise .card-frame3 .item .title span {
    display: block;
    background: tomato;
    width: 100%;
    height: 58px;
    margin-top: 2px;
    border-radius: 29px;
    font-size: 17px;
    line-height: 58px;
    text-align: center;
}
.main-promise .card-frame3 .item .text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 26px;
    line-height: 1.46;
}
.main-promise .card-frame3 .item .link {
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 82px;
    height: 82px;
    padding: 16px 0 0 16px;
    border-radius: 36px 0 0 0;
    background: #fff;
    box-sizing: border-box;
}
.main-promise .card-frame3 .item .link::before {
    left: -24px;
    bottom: -2px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M24 0c0 13.3-10.7 24-24 24v2h26V0h-2z' fill='%23fff' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.main-promise .card-frame3 .item .link::after {
    top: -24px;
    right: 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M24 0c0 13.3-10.7 24-24 24v2h26V0h-2z' fill='%23fff' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.main-promise .card-frame3 .esg {
    background: url(/images/main/main_promise01.gif) no-repeat center center/contain #89dcff;
}
.main-promise .card-frame3 .esg .title span {
    background: #89dcff;
}
.main-promise .card-frame3 .activegreen {
    background: url(/images/main/main_promise02.gif) no-repeat center center/322px 322px #03502b;
}
.main-promise .card-frame3 .activegreen .title span {
    background: #1ed47e;
}
.main-promise .card-frame3 .magazine {
    background: url(/images/main/main_promise03.gif) no-repeat center center/322px 322px #333;
}
.main-promise .card-frame3 .magazine .title span {
    background: #fae100;
}

/* 무엇을 도와드릴까요? */
.main-help h2::before {
    background: url(/images/main/icon_main_help.gif) no-repeat center center/cover;
}
.main-help .card-mix .card-frame3 {
    height: 494px;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item {
    position: relative;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item a {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 36px 40px 0;
    box-sizing: border-box;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item a .title {
    font-size: 26px;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item a .link {
    display: block;
    margin-top: 31px;
    font-size: 17px;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item a .link span {
    display: inline-block;
    padding-top: 3px;
    vertical-align: top;
}
.main-help .card-mix .card-frame3 .sub-frame .sub-item a img {
    width: 100px;
    height: 100px;
    margin-top: -5px;
}
.main-help .card-mix .card-frame3 .news {
    padding: 40px;
    background: url(/images/main/main_help_news.png) no-repeat bottom center/264px auto #fae100;
    box-sizing: border-box;
}
.main-help .card-mix .card-frame3 .news strong {
    font-size: 26px;
    line-height: 1.38;
}
.main-help .card-mix .card-frame3 .news .info-text {
    display: inline-block;
    margin-top: 24px;
    font-size: 17px;
    line-height: 1.58;
}
.main-help .card-mix .card-frame3 .news .socialmedia {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
.main-help .card-mix .card-frame3 .news .socialmedia a {
    width: 80px;
    height: 80px;
}
.main-help .card-mix .card-frame3 .crew {
    padding: 40px;
    background: url(/images/main/main_help_crew.png) no-repeat bottom center/100% auto #0073ff;
    box-sizing: border-box;
}
.main-help .card-mix .card-frame3 .crew strong {
    display: block;
    font-size: 26px;
    line-height: 1.38;
}
.main-help .card-mix .card-frame3 .crew .link {
    display: inline-block;
    margin-top: 24px;
    font-size: 17px;
}
.main-help .card-mix .card-frame3 .crew .link span {
    display: inline-block;
    padding-top: 3px;
    vertical-align: top;
}
.main-help .card-mix .card-frame2 .item {
    height: 162px;
}
.main-help .card-mix .card-frame2 .item a {
    display: flex;
    justify-content: space-between;
    height: inherit;
    padding: 36px 40px 40px;
    box-sizing: border-box;
}
.main-help .card-mix .card-frame2 .item a .title {
    display: block;
    font-size: 26px;
}
.main-help .card-mix .card-frame2 .item a .link {
    display: inline-block;
    margin-top: 35px;
    font-size: 17px;
}
.main-help .card-mix .card-frame2 .item a .link span {
    display: inline-block;
    padding-top: 3px;
    vertical-align: top;
}
.main-help .card-mix .card-frame2 .item a img {
    width: 100px;
    height: 100px;
    margin-top: -5px;
}
